<html>
<head>
				<title>Let's settle this!</title>
				<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> 
</head>

<body>
				<%= yield %>
</body>

<footer>
  <div id="makersacademy-logo">
    <a href="http://www.makersacademy.com/">
      <img src="http://www.makersacademy.com/images/logo.png">
    </a>
  </div>
    <div id="technologies">
      This Paper Rock Scissors game was built for your enjoyment at 
        <a href="http://www.makersacademy.com">Makers Academy</a>, a highly selection 12 week course in London.<br>
        This page uses Ruby, Sinatra, Javascript, jQuery, HTML, and CSS. Image from <a href="http://shirtoid.com/19884/paper-rock-scissors/">shirtoid.com</a>.
      </div>

    </footer>
</html>