<% if @game.winner == "Draw" %>
 <h1> It was a draw! </h1>
 <% elsif @game.winner.name == "computer" %>
 <h1> You've lost! The computer won with <%= @game.winner.pick %></h1>
<% else %>
<h1> You've won! <%= @game.winner.pick %> served you well.</h1>
<%end%>

<form action="/register" method="POST">
<button class="normal-button">Play again!</button> 